#agenda {
  text-align: center;
  position: relative;
  width: 100%;
  padding: 4em;
  background: #fff1e2;
}

.agenda-head {
  position: relative;
  background-color: #fff1e2;
  height: max-content;
}

.agenda-head h2 {
  padding-top: 2.1rem;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 29px;
}

.agenda-head.has-border {
  display: inline-block;
  position: relative;
  height: max-content;
  margin: 30px auto 70px;
  padding: 5px 15px;
  border: 8px solid;
}

#agenda .section-heading,
#agenda .agenda-subheading {
  font-size: 1.4em;
  padding-bottom: 0;
  margin: 0 auto;
}

#agenda .agenda-subheading {
  text-transform: uppercase;
  padding-bottom: 1em;
  max-width: 450px;
  font-weight: 600;
}

@media all and (min-width: 576px) {
  #agenda {
    padding: 8em 2em;
  }
}

.agenda-icon {
  width: 40px;
}

.section-subtitle {
  font-weight: 800;
  font-style: italic;
  font-size: 0.8em;
  margin-top: -5px;
  color: #9a9a9a;
}

.events-container {
  display: flex;
}

.event-hours-container,
.event-title-container {
  width: 50%;
}

.event-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.event-icon {
  width: 40px;
  display: inline-block;
}

.event-hours {
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  border: 1px solid transparent;
  text-align: right;
}

.event-hours:nth-child(8) {
  margin-top: 137px;
}

@media all and (max-width: 400px) {
  .event-hours:nth-child(3),
  .event-hours:nth-child(4) {
    margin-top: 83px;
  }
  .event-hours:nth-child(5) {
    margin-top: -20px;
  }
  .event-hours:nth-child(6) {
    margin-top: 80px;
  }
  .event-hours:nth-child(7) {
    margin-top: 120px;
  }
}

@media all and (max-width: 322px) {
  .event-hours:nth-child(8) {
    margin-top: 340px;
  }
  .event-hours:last-child {
    margin-top: 80px;
  }
}

@media all and (min-width: 323px) {
  .event-hours:nth-child(8) {
    margin-top: 275px;
  }
  .event-hours:last-child {
    margin-top: 80px;
  }
}

@media all and (min-width: 380px) {
  .event-hours:nth-child(8) {
    margin-top: 255px;
  }
  .event-hours:last-child {
    margin-top: 60px;
  }
}

@media all and (min-width: 586px) {
  .event-hours:nth-child(8) {
    margin-top: 140px;
  }
  .event-hours:last-child {
    margin-top: 55px;
  }
}

@media all and (min-width: 498px) and (max-width: 544px) {
  .event-hours:nth-child(8) {
    margin-top: 198px;
  }
}

@media all and (min-width: 464px) and (max-width: 544px) {
  .event-hours:nth-child(4) {
    margin-top: 82px;
  }
  .event-hours:nth-child(6) {
    margin-top: 85px;
  }
}

@media all and (min-width: 545px) and (max-width: 677px) {
  .event-hours:nth-child(8) {
    margin-top: 180px;
  }
}

@media all and (min-width: 677px) and (max-width: 839px) {
  .event-hours:nth-child(8) {
    margin-top: 160px;
  }
}

.event-title {
  border: 1px solid #2f2f2f;
  position: relative;
}

.event-title:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  bottom: -45px;
  left: -1px;
  background-color: #2f2f2f;
}

.event-title:last-child:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: -90px;
  left: -5px;
  background-color: #2f2f2f;
}

.event-title,
.event-hours {
  padding: 1.5em 1em;
  font-size: 1.15em;
  margin-bottom: 3em;
}

.featured-event {
  color: #fff;
  background-color: #2f2f2f;
  margin-bottom: 3em;
  position: relative;
  text-align: left;
  padding: 1.5em 1em;
  max-width: 560px;
}

.featured-event:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  bottom: -40px;
  left: 0;
  background-color: #2f2f2f;
}

.featured-event .feat-event-heading {
  display: inline-block;
}

.featured-event .feat-event {
  font-size: 0.9em;
}
